@model Defult.Models.User
@{

    Layout = null;
}

<title>GoFitLife</title>
<!---css--->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<link href="/css/our_style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<!---js--->
<!--web-fonts-->
<link href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic" rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<script src="/js/responsiveslides.min.js"></script>

<!--JS for animate-->
<link href="/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<!--//end-animate-->
<!---header--->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#42a5f5 ">
    <div class="container">
        <div class="navbar-header wow fadeInLeft animated animated" data-wow-delay="0.4s">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" asp-action="UserIndex"><img src="/images/e.png" /> GoFitLife</a></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="background-color:#42a5f5 ">
            <ul class="nav navbar-nav navbar-right wow fadeInRight animated animated" data-wow-delay="0.4s" style="background-color:#42a5f5 ">
                <li><a style="background-color:#42a5f5 " class="nav-in" asp-controller="Excercises" asp-action="Excercisers"><span data-letters="My Excercise">My Excercise</span></a></li>
                <li><a style="background-color:#42a5f5 " class="nav-in" asp-controller="Home" asp-action="Foods"><span data-letters="My Nutrition">My Nutrition</span></a></li>
                <li><a style="background-color:#42a5f5 " class="nav-in" asp-controller="Excercises" asp-action="RandomExcercises"><span data-letters="Random Excercise">Random Excercise</span></a></li>
                <li><a style="background-color:#42a5f5 " class="nav-in" asp-controller="Home" asp-action="Manage"><span data-letters="My Profile">My Profile</span></a></li>
                <li><a style="background-color:#42a5f5 " class="nav-in" asp-controller="Home" asp-action="LogOut"><span data-letters="Logout">Logout</span></a></li>
                <li><a style="background-color:#42a5f5 " class="nav-in" asp-controller="Home" asp-action="UserIndex"><span data-letters="Home">Home</span></a></li>




            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>






<div class="container InnerContainerProfile" style="margin-top: 0px">
    <div class="container" style="margin-top: 120px">
        <h1 class="titledesc">Edit Profile</h1>   	<hr> 	<div class="row">
            <!-- edit form column -->       <div class="col-md-9 personal-info">

                <h3 class="titledesc">Personal info</h3>           <br />         <form class="form-horizontal" role="form" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="col-md-3">
                        <h4 class="titledesc">Upload  photo...</h4>
                        <input type="file" class="form-control" name="files" multiple />
                    </div>
                    <br />
                    <hr class="hr" />
                    <div class="form-group">
                        <label class="col-lg-3 control-label" asp-for="Email">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" asp-for="Password">Password:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-lg-3 control-label">name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Weight" class="col-lg-3 control-label">Weight:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="Weight">
                        </div>
                    </div>


                    <center><button type="submit" class="btn btn-primary savebtn titledesc">SAVE</button></center>
                </form>
            </div>
        </div>
    </div>   <hr>
</div>




<!--copy-->
<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
    <div class="container">
        <div class="social-icons">
            <a href="#"><i class="icon"></i></a>
            <a href="#"><i class="icon1"></i></a>
            <a href="#"><i class="icon2"></i></a>
            <a href="#"><i class="icon3"></i></a>
        </div>
        <p>&copy; 2017 GoFitLife | Zaid & Waleed</p>
    </div>
</div>
<!--copy-->
